* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}

/* header */

.main-header {
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
 
.main-header__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item > a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item > a:hover {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta > a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta > a:active, .main-nav__item--cta > a:hover {
    color: #ff1b68;
    background: white;
    border: none;
}

/* plans */

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#plans {
    padding: 20px 0;
}
#plans > div {
    text-align: center;
}

.plan {
    width: 30%;
    display: inline-block;
    margin: 8px;
    padding: 16px;
    background-color: #d5ffdc;
    text-align: center;
    color: black;
    vertical-align: middle;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
}

.plan h2 {
    color: #5d615e;
}

.plan button {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 8px;
    color: white;
    background-color: #0e4f1f;
    font-weight: bold;
    cursor: pointer;
}

.plan button:hover, .plan button:active {
    color: #0e4f1f;
    background-color: white;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.plan--highlighted h2 { 
    color: #02310f;
}

.plan--highlighted h1 {
    color: white;
}

h1.plan__annotated {
    background: white;
    width: 80%;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}


/* key features */

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
    vertical-align: top;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-features__list li {
    width: 30%;
    display: inline-block;
}

.key-features__description {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.key-features__image {
    width: 128px;
    height: 128px;
    background-color: #ffcede;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}


/* footer */
.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__items {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.main-footer__items li {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__items a {
    text-decoration: none;
    color: white;
}

.main-footer__items a:hover, .main-footer__items a:active {
    color: #ccc;
}
