
#product-overview {
    background: url("freedom.jpg");
    width: 100%;
    height: 528px;
    padding: 10px;   
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    margin: 16px;
    position: absolute;
    bottom: 32px;
    left: 8px;
}

/* plans */

.section-title {
    color: #2ddf5c;
    text-align: center;
}

#plans {
    padding: 20px 0;
}
#plans > div {
    text-align: center;
    width: 80%;
    margin: auto;
}

.plan {
    width: 30%;
    display: inline-block;
    margin: 8px;
    padding: 16px;
    background-color: #d5ffdc;
    text-align: center;
    color: black;
    vertical-align: middle;
}

.plan ul {
    padding: 0;
}

.plan li {
    list-style: none;
}

.plan h2 {
    color: #5d615e;
}

.plan--highlighted {
    background: #19b84c;
    color: white;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}

.plan--highlighted h2 { 
    color: #02310f;
}

.plan--highlighted h1 {
    color: white;
}

h1.plan__annotated {
    background: white;
    width: 80%;
    margin: 10%;
    padding: 10px;
    border-radius: 10px;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
}


/* key features */

#key-features {
    background: #ff1b68;
    margin-top: 80px;
    padding: 16px;
    vertical-align: top;
}

#key-features .section-title {
    color: white;
    margin: 32px;
}

.key-features__list {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.key-features__list li {
    width: 30%;
    display: inline-block;
}

.key-features__description {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
}

.key-features__image {
    width: 128px;
    height: 128px;
    background-color: #ffcede;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
}


