* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* header */

.main-header {
    position: fixed;
    z-index: 1;
    width: 100%;
    background-color: #2ddf5c;
    padding: 8px 16px;
}

.main-header > div {
    display: inline-block;
    vertical-align: middle;
}
 
.main-header__brand {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}


.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item > a {
    text-decoration: none;
    color: #0e4f1f;
    font-weight: bold;
    padding: 3px 0;
}

.main-nav__item > a:hover {
    color: white;
    border-bottom: 5px solid white;
}

.main-nav__item--cta > a {
    color: white;
    background: #ff1b68;
    padding: 8px 16px;
    border-radius: 8px;
}

.main-nav__item--cta > a:active, .main-nav__item--cta > a:hover {
    color: #ff1b68;
    background: white;
    border: none;
}

/* footer */
.main-footer {
    background: black;
    padding: 32px;
    margin-top: 48px;
}

.main-footer__items {
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.main-footer__items li {
    display: inline-block;
    margin: 0 16px;
}

.main-footer__items a {
    text-decoration: none;
    color: white;
}

.main-footer__items a:hover, .main-footer__items a:active {
    color: #ccc;
}

/* button */
.button {
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    font-weight: bold;
    padding: 8px;
    color: white;
    background-color: #0e4f1f;
    font-weight: bold;
    cursor: pointer;
}

.button:hover, .button:active {
    color: #0e4f1f;
    background-color: white;
}

