
/* packages */
.clear-fix {
    clear: both;
}

.background {
    background: url("../images/plans-background.jpg");
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

main {
    padding-top: 32px;
}

.package-plan {
    border: 4px solid #0e4f1f;
    background-color: #c4f8d2;
    width: 80%;
    margin: 16px 0;
    padding: 16px;
}

.package-plan:hover, .package-plan:active {
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    border-color: #ff5454;
}

.package-plan a {
    text-decoration: none;
}

.package-plan h1 {
    color: black;
}

.package-plan h2 {
    color: #a8a6a6;
}

.package-plan p {
    border: 2px solid #19b84c;
    background: white;
    padding: 8px;
}

.package-plan--free {
    background-color: #e2f9e8;
    float: right;
    text-align: right;
}

.package-plan--premium {
    background-color: #0b6623;
}

.package-plan--premium h1 {
    color: white;
}